<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/credit/creditreg.css">
    <title>학점 수정</title>
</head>
<body>
    <aside class="left-aside">
    </aside>

    <main class="main-container">
        <div class="content-container">
            <div class="title-box">
                <h1 class="content-title">학점 등록</h1>
            </div>
            <div class="content-main">
                <div class="content-items">
                </div>
            </div>
            <div class="table-container">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>학번</th>
                            <th>직전학기<br>신청학점</th>
                            <th>직전학기<br>평균학점</th>
                            <th>총 취득학점</th>
                            <th>신청가능학점</th>
                            <th>졸업 학점</th>         
                        </tr>
                    </thead>
                    <tbody>
                        <td><input type="text" class="modification-input"></td>
                        <td><input type="text" class="modification-input"></td>
                        <td><input type="text" class="modification-input"></td>
                        <td><input type="text" class="modification-input"></td>
                        <td><input type="text" class="modification-input"></td>
                        <td><input type="text" class="modification-input"></td>
                    </tbody>
                </table>
            </div>
            <div class="btn-box">
                <button type="submit" class="reg-button">등록</button>
                <a href="/admin/creditsearch"><button type="reset" class="can-button">취소</button></a>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/aside.js"></script>
    <script src="/static/js/admin/credit/creditmodify.js"></script>
</body>
</html>