<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/credit/creditinfo.css">
    <title>학점 조회</title>
</head>
<body>
    <aside class="left-aside">
    </aside>
    <main class="main-container">
        <div class="content-container">
            <div class="title-box">
                <h1 class="content-title">학점 조회</h1>
            </div>
            <div class="content-main">
                <div class="content-items">
                    <div class="left-items">
                        <button type="button" class="reg-button"><a href="/admin/creditregister">등록</a></button>
                        <button type="button" class="delete-button">삭제</button>
                    </div>
                    <div class="right-items">
                        <input type="search" class="search-input">
                        <button type="button" class="search-button">검색</button>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>직전학기<br>신청학점</th>
                            <th>직전학기<br>평균학점</th>
                            <th>총 취득학점</th>
                            <th>신청가능학점</th>
                            <th>잔여<br>취득학점</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            
            <div class="page-controller">
                <a href="" class="disabled">이전</a>
                <ul class="page-numbers">
                    <a href=""><li>1</li></a>
                    <a href=""><li>2</li></a>
                    <a href=""><li>3</li></a>
                    <a href=""><li>4</li></a>
                    <a href=""><li>5</li></a>
                </ul>
                <a href="">다음</a>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/aside.js"></script>
    <script src="/static/js/admin/credit/creditinfo.js"></script>
</body>
</html>