<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/user_register.css">
    <title>회원정보 등록</title>
</head>
<body>
    <aside class="left-aside">
        <div class="aside-title">
            <h1 class="title-text-h1">관리자 시스템</h1>
        </div>
        <nav class="main-menu">
            <h2 class="title-text-h2">수강정보관리</h2>
            <ul class="sub-menu">
                <a href="/admin/search"><li>강의정보 조회</li></a>
                <a href="/admin/sugang"><li>강의정보 등록</li></a>
            </ul>
            <h2 class="title-text-h2">회원정보관리</h2>
            <ul class="sub-menu">
                <a href="/admin/usersearch"><li>회원정보 조회</li></a>
                <a href="/admin/userregister"><li>학생정보 등록</li></a>
                <a href="/admin/professorregister"><li>교수정보 등록</li></a>
            </ul>
        </nav>
    </aside>    
    <main class="main-container">
       
    </main>
    <script src=""></script>
</body>
</html>