<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/main.css">
    <title>회원정보 등록</title>
</head>
<body>
    <aside class="left-aside">
    </aside>    
    <main class="main-container">
        <!-- <form>
            <div class="count-down">
                <label>수강 바구니 시작일</label>
                <input type="datetime-local" id="start" class="start">
                <br>
                <label>수강 바구니 종료일</label>
                <input type="datetime-local" id="end" class="end">
            </div>
            <button type="button" class="timeSet">설정</button>
        </form> -->
    </main>
    <script src="/static/js/admin/aside.js"></script>
    <!-- <script src="/static/js/admin/admin.js"></script> -->
</body>
</html>