<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/user_information.css">
    <title>회원 정보 조회</title>
</head>
<body>
    <main class="main-container">
        <aside class="left-aside">
            <div class="aside-title">
                <h1 class="title-text-h1">관리자 시스템</h1>
            </div>
            <nav class="main-menu">
                <h2 class="title-text-h2">수강정보관리</h2>
                <ul class="sub-menu">
                    <a href="https://localhost:8000/admin/search"><li>강의정보 조회</li></a>
                    <a href="https://localhost:8000/admin/sugang"><li>강의정보 등록</li></a>
                </ul>
                <h2 class="title-text-h2">회원정보관리</h2>
                <ul class="sub-menu">
                    <a href="https://localhost:8000/admin/usersearch"><li>회원정보 조회</li></a>
                    <a href="https://localhost:8000/admin/userregister"><li>학생정보 등록</li></a>
                    <a href="https://localhost:8000/admin/professorregister"><li>교수정보 등록</li></a>
                </ul>
            </nav>
        </aside>
        <div class="content-container">
            <h1 class="content-title">유저정보 조회</h1>
            <div class="content-main">
                <div class="content-items">
                    <div class="left-items">
                        <button type="button" class="delete-button">삭제</button>
                    </div>
                    <div class="right-items">
                        <select class="category-select">
                            
                        </select>
                        <input type="search" class="search-input">
                        <button type="button" class="search-button">검색</button>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="delete-checkall"></th>
                            <th>학과</th>
                            <th>아이디(학번/직번)</th>
                            <th>이름</th>
                            <th>비밀번호</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td><a href=""></a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td>010-4156-2576</td>
                            <td>990115</td>
                            <td>myeong459@naver.com</td>
                            <td>부산</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td>010-4156-2576</td>
                            <td>990115</td>
                            <td>myeong459@naver.com</td>
                            <td>부산</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td>010-4156-2576</td>
                            <td>990115</td>
                            <td>myeong459@naver.com</td>
                            <td>부산</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td>010-4156-2576</td>
                            <td>990115</td>
                            <td>myeong459@naver.com</td>
                            <td>부산</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>컴퓨터공학과</td>
                            <td>20173096</td>
                            <td>권명승</td>
                            <td>20173096</td>
                            <td>010-4156-2576</td>
                            <td>990115</td>
                            <td>myeong459@naver.com</td>
                            <td>부산</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="page-controller">
                <a href="" class="disabled">이전</a>
                <ul class="page-numbers">
                    <a href=""><li>1</li></a>
                    <a href=""><li>2</li></a>
                    <a href=""><li>3</li></a>
                    <a href=""><li>4</li></a>
                    <a href=""><li>5</li></a>
                </ul>
                <a href="">다음</a>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/user_information.js"></script>
</body>
</html>