<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/sugang_modification.css">
    <title>강의정보 수정</title>
</head>
<body>
    <aside class="left-aside">
    </aside>
    <main class="main-container">
        <div class="content-container">
            <div class="title-box">
                <h1 class="content-title">강의정보 수정</h1>
            </div>
            <div class="content-main">
                <div class="content-items">
                    <div class="content-top">
                        <div class="lnb-inner">
                            <div class="inb-logo">
                                <img src="/static/image/logo.png" alt="코리아IT 대학교 수강신청">
                            </div>
                            <div class="school-name">코리아IT 대학교
                                <div class="school-name-en">KOREA-IT UNIVERSITY</div>
                            </div>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="content-inner-top">
                            <div class="item-group">
                                <label class="modification-label">과목코드</label>
                                <input type="text" class="modification-input" disabled>
                                <div class="error-message"></div>
                            </div>
                            <div class="content-inner-bottom">
                                <div class="content-left">
                                    <div class="item-group">
                                        <label class="modification-label">연도</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">학기</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">단과대학</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">학과</label>
                                        <select class="modification-input category-select">
                                            <option value="">전체조회</option>
                                            <option value="컴퓨터공학과">컴퓨터공학과</option>
                                            <option value="AI자동화설계공학과">AI자동화설계공학과</option>
                                            <option value="자동차공학과">자동차공학과</option>
                                            <option value="전기공학과">전기공학과</option>
                                            <option value="기계공학과">기계공학과</option>
                                            <option value="전자공학과">전자공학과</option>
                                            <option value="로봇공학과">로봇공학과</option>
                                            <option value="자율융합공학과">자율융합공학과</option>
                                            <option value="조선해양공학과">조선해양공학과</option>
                                            <option value="냉동공조공학과">냉동공조공학과</option>
                                            <option value="항만물류학과">항만물류학과</option>
                                            <option value="의용공학과">의용공학과</option>
                                        </select>
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">학년</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">이수구분</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">과목명</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                </div>
                                <div class="content-right">
                                    
                                    <div class="item-group">
                                        <label class="modification-label">분반</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">학점</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">교수ID</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">교수명</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">시간</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">강의실</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="item-group">
                                        <label class="modification-label">최대정원</label>
                                        <input type="text" class="modification-input">
                                        <div class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modifybtn-box">
                        <button class="modification-button">수정하기</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/aside.js"></script>
    <script src="/static/js/admin/sugang_modification.js"></script>  
</body>
</html>