<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/board/main.css">
</head>
<body>
    <header class="header-container">
        <div class="lnb wrap">
            <div class="lnb-inner">
                <h1>
                    <img src="/static/image/logo.png" alt="코리아IT 대학교 수강신청">
                </h1>
                <span class="school-name">코리아IT 대학교 <li>KOREA-IT UNIVERSITY</li></span>
                <span class="sugang-date">2023학년도 1학기 수강 장바구니</span>
            </div>
            <div class="user-info">
                <ul>
                    <li class="user"><a href=""><span></span></a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="menulist wrap">
            
    </div>
    </header>
    <main>
        <div class="board-container">
            <div class="board-list">
                <li>
                    <button>메인 게시판</button>
                </li>
                <li>
                    <button>공지사항</button>
                </li>
                <li>
                    <button>자유 게시판</button>
                </li>
            </div>
            <table class="borad-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>게시판1</td>
                    <td>관리자</td>
                    <td>2023-07-28</td>
                    <td>3</td>
                </tbody>
            </table>
            <div class="page-controller">
                <a href="" class="disabled">이전</a>
                <ul class="page-numbers">
                    <a href=""><li>1</li></a>
                    <a href=""><li>2</li></a>
                    <a href=""><li>3</li></a>
                    <a href=""><li>4</li></a>
                    <a href=""><li>5</li></a>
                </ul>
                <a href="">다음</a>
            </div>
        </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/account/principal.js"></script>
    <script src="/static/js/board/main.js"></script>
</body>
</html>