body {
    display: flex;

    width: 1500px;
    height: 900px;

    position:absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
}

input, select, textarea, table, th, td {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

input, select, textarea {
    outline: 0;
    padding: 5px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    height: 900px;

    background-color: #ffffff;
    border: 1px solid #000000;
}

.category-select {
    height: 40px;
    font-size: 16px;
}

.title-box {
    margin: 15px 0px;
}

.content-title {
    font-size: 30px;
    text-align: center;
}

.search-input {
    height: 40px;
}

.search-button {
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    color: black;
}

.search-button:hover {
    border: 1px solid #8b8b8b;
    background-color: #8b8b8b;
    color: #ffffff;
    font-weight: 700;
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.delete-button {
    border: 1px solid #fd3131;
    border-radius: 4px;
    background-color: #fd3131;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 14px;
}

.delete-button:hover {
    background-color: #990101;
    border: 1px solid #990101;
    color: #ffffff;
}

.table-container {
    width: 900px;
}

.content-table thead th {
    padding: 10px 15px;
    height: 60px;
}

.content-table th, .content-table td{
    text-align: center;
}

.content-table tbody td:nth-child(1) {
    width: 5%;
    height: 50px;
}

.content-table tbody td:nth-child(2) {
    width: 22%;
}

.content-table tbody a:hover {
    color: #0026ff;
}

.content-table tbody td:nth-child(3) {
    width: 10%;
}

.content-table tbody td:nth-child(4) {
    width: 7%;
}

.content-table tbody td:nth-child(5) {
    width: 19%;
}

.content-table tbody td:nth-child(6) {
    width: 7%;
}

.content-table tbody td:nth-child(7) {
    width: 10%;
}

.content-table tbody td:nth-child(8) {
    width: 10%;
}

.content-table tbody td:nth-child(9) {
    width: 10%;
}

.page-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-numbers {
    display: flex;
}

.page-controller a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    margin: 0px 5px;
    border: 1px solid #202020;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    color: #000000;

    font-weight: 600;
    font-size: 12px;
}

.page-controller li {
    list-style-type: none;
}

.page-controller a:hover {
    background-color: #202020;
    color: white;
}

.page-controller .disabled {
    background-color: #202020;
    color: white;
    cursor: default;
}

.category a:hover {
    color: blue;
}