body {
    display: flex;

    width: 1500px;
    height: 900px;

    position:absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
}

input, select, textarea, table, th, td {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

input, select, textarea {
    outline: none;
    padding: 5px;
    cursor: pointer;
}

button {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

button:not(:disabled):hover {
    border: 1px solid #8b8b8b;
    background-color: #8b8b8b;
    color: #ffffff;
    font-weight: 700;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    height: 900px;

    background-color: #ffffff;
    border: 1px solid #000000;
}

.title-box {
    margin: 15px 0px;
}

.content-title {
    text-align: center;
    font-size: 30px;
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-top, .content-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #dbdbdb;
    padding: 30px;
    width: 500px;
    height: 100%;
}

img {
    width: 60px;
    height: 60px;
}

.lnb-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;

}
.school-name {
    margin-left: 10px;
    font-size: 19px;
    font-weight: 600;
}
.school-name-en {
    font-size: 16px;
    font-weight: 500;
}

.content-bottom {
    flex-direction: row;
    justify-content: space-between;
}

.content-left .content-right{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    width: 500px;
    height: 100%;
}

.item-group {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 15px;
}

.register-label {
    padding-bottom: 5px;
    font-weight: 600;
}

.item-group select{
    width: 212px;
}

.register-input {
    width: 200px;
}

.error-message {
    color: red;
    font-size: 12px;
}

.registerbtn-box {
    display: flex;
    margin-top: 10px;
}

.register-button {
    margin: 0 auto;    

    width: 200px;
    height: 50px;

    border-radius: 5px;
    background-color: white;
    cursor: pointer;

    font-weight: 600;
}

.register-button:hover {
    background-color: #3e3e3e;
    color: white;

    font-weight: 600;
}