body {
    display: flex;

    width: 1500px;
    height: 900px;

    position:absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
}

input, select, textarea, table, th, td {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

input, select, textarea {
    outline: none;
    padding: 5px;
    cursor: pointer;
}

button {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

button:disabled {
    cursor: default;
}

button:not(:disabled):hover {
    border: 1px solid #8b8b8b;
    background-color: #8b8b8b;
    color: #ffffff;
    font-weight: 700;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    height: 900px;

    background-color: #ffffff;
    border: 1px solid #000000;
}

.title-box {
    margin: 15px 0px;
}

.content-title {
    font-size: 30px;
    text-align: center;
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left, .content-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    width: 400px;
    height: 100%;

    resize: none;
    overflow-y: auto;
}

.item-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.modification-label {
    margin-bottom: 5px;
    padding-left: 5px;
    font-weight: 600;
    color: #202020;
}

.modification-input {
    height: 20px;
}

.category-select {
    height: 40px;
}

.error-message {
    margin-top: 7px;
    padding-left: 5px;
    color: red;
    font-size: 12px;
}

.modify-button {
    margin-top: 10px;
    width: 100%;
    height: 40px;

    font-weight: 600;
}

.img-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.img-file {
    display: none;
}

.img-add-button {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;

    font-size: 20px;
    font-weight: 600;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    width: 100%;
    height: 400px;

    overflow: hidden;
}

.user-img {
    height: 100%;
}

.button-group {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.img-modify-button, .img-cancel-button {
    width: 48%;
    height: 40px;

    font-weight: 600;
}


