<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/user/login.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div class="login-page">
            <div class="login-box">
                <div class="login-left">
                    <div class="logo-span">
                        <h1 class="login-title">
                            <img src="/static/image/logo.png" alt="KOREA IT대학교">
                        </h1>
                        <div class="logo-title">
                            <span class="school-name">코리아 IT 대학교</span>
                            <span class="eng-schoolname">Korea IT University</span>
                        </div>
                        <div class="school-system">
                            수강신청시스템
                        </div>
                    </div>
                    <ul class="login-list">
                        <li>크롬 브라우저에 최적화되어 있습니다.</li>
                        <li>해상도 1600 * 900 사이즈에 최적화되어 있습니다.</li>
                    </ul>
                </div>
                <div class="login-right">
                    <div class="login-group">
                        <div class="login-id-password">
                            <input type="text" id="login-username" class="login-inputs" name="username" placeholder="아이디" required>
                            <input type="password" id="login-password" class="login-inputs" name="password" placeholder="비밀번호" required>
                        </div>
                        <button type="submit" class="login-submit">로그인</button>
                    </div>
                    <div class="error-message">
                    </div>
                    <div class="login-finding">
                        <a href="" class="login-find-id">아이디 찾기</a>
                        <a href="" class="login-find-pd">비밀번호 찾기</a>
                    </div>
                    <div class="person-information">
                        <span class="profile-img"><img src="/static/image/profile_noimg.jpg"></span>
                        <span class="profile-text">개인정보처리방침</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>