body {
    width: 100%;
}
.my-page {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1000px;
    height: 500px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px #dbdbdb ;

    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 75%;

    margin-top: 25px;
}

.content-left {
    width: 400px;
}

.img-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;

    overflow: hidden;
}

.person-img {
    width: 200px;
    height: 200px;
}

.img-add-button {
    width: 140px;
    height: 30px;

    font-size: 20px;
    font-weight: 600;

    border-radius: 20px;
    cursor: pointer;
    
    color: white;
    border: 1px solid #1764dc;
    background-color: #1764dc;
}

.img-add-button:hover {
    border: 1px solid #0f397a;
    background-color: #0f397a;
}

.img-file {
    display: none;
}

.user-modify {
    display: flex;
}

.item-group {
    flex-direction: column;
}

.modification-label {
    margin-bottom: 5px;
    padding-left: 3px;

    font-size: 16px;
    color: #303030;
}

.modification-input {
    display: flex;
    text-align: center;
    width: 230px;
    height: 35px;
    margin: 5px 10px 20px 10px;
    border: 0;

    background-color: #f5f5f5;
    border-radius: 30px;
}

.modification-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #1764dc;
}

.modif-btn-box {
    display: flex;
    font-size: 16px;
}

.modification-button {
    width: 120px;
    height: 50px;

    border: 1px solid #1764dc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    color: white;
    background-color: #1764dc;

    margin: 0 auto;
}

.modification-button:hover {
    border: 1px solid #0f397a;
    background-color: #0f397a;
}
.close-btn-box {
    display: flex;
    justify-content: right;

    margin: 0px 20px 15px 0px;
}

.close-button {
    border: 1px solid #dfdfdf;
    background-color: #dbdbdb;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    font-size: 20px;
    color: #303030;
}

.close-button:hover {
    background-color: #b6b6b6;
}





