<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/announcement.css">
</head>
<body>
    <main>
        <header class="header-container">
            <div class="lnb wrap">
                <div class="lnb-inner">
                    <h1>
                        <a href="/templates/announcement.html"><img src="/static/image/logo.png" alt="코리아IT 대학교 수강신청"></a>
                    </h1>
                    <span class="school-name"><a href="/templates/announcement.html">코리아IT 대학교 <li>KOREA-IT UNIVERSITY</li></span></a>
                    <span class="sugang-date">2023학년도 1학기 수강신청 장바구니</span>
                </div>
                <div class="user-info">
                    <ul>
                    </ul>
                </div>
                
            </div>
            <div class="menulist wrap">
                    <li class="on"><a href="/templates/announcement.html">공지사항</a></li>
                    <li><a href="">강의시간표</a></li>
                    <li><a href="">장바구니</a></li>
                    <li><a href="">수강신청</a></li>
                    <li><a href="">학점이수현황</a></li>
                    <li><a href="">재수강신청</a></li>
                    <li><a href="">재수강내역</a></li>
                    <li><a href="">강의평가</a></li>
                    <li><a href="">매뉴얼</a></li>
                    <li><a href="">로그아웃</a></li>
            </div>
        </header>
        <div class="announcement-container">
            <div class="announcement-btn">
                <li><a href="">공지사항</a></li>
                <li><a href="">교육과정</a></li>
                <li><a href="">교과목해설집</a></li>
                <li><a href="">학사일정</a></li>
            </div>
            <div class="gap"></div>
                <div class="upDivStyle03">
                    <div class="divStyle03L">
                        <h3 class="SubTitle"><img src="/static/image/right.png">학사운영 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁혁신공유대학 교과목 이수 안내</li>
                            <li>⦁집중이수제 운영 안내</li>
                            <li>⦁마이크로디그리 일정, 신청 및 이수방법 안내</li>
                        </ul>
                    </div>
                    <div class="divStyle03C">
                        <h3 class="SubTitle"><img src="/static/image/right.png">수강신청 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁수강신청 공지</li>            
                            <li>⦁1학년 신입생 수강신청 안내></li>
                            <li>⦁장바구니 제도 안내</li>
                            <li>⦁재수강신청 안내</li>
                            <li>⦁학사학위취득유예 신청 및 미졸업자의 수강신청 및 현금등록 방법 안내</li>
                        </ul>
                    </div>
                    <div class="divStyle03R">
                        <h3 class="SubTitle"><img src="/static/image/right.png">수강신청 유의사항 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁공통교양(기본교양) 대체교과목 안내</li>
                            <li>⦁공통교양(기본교양) 재이수 안내(미이수자 필독!!)</li>
                            <li>⦁1학년 균형교양(Bridge교양)학점 이수 관련 안내 (대상:2020학번 이후)</li>
                            <li>⦁2~4학년 재학생 균형교양(Bridge교양) 수강신청안내</li>
                            <li>⦁교수-가족 간 강의수강 공정성 제고 관련 유의사항</li>
                            <li>⦁지도교수세미나교과목 수강신청 안내(재이수 포함)</li>
                            <li>⦁전공탐색과진로설계 및 지도교수세미나 수강 시 유의사항 안내(전과생필독)</li>
                            <li>⦁지도교수세미나 관련 유의사항(인턴십 및 교환학생 학기 이수한 4학년 필독!!!)</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfloat"></div>
                <hr class="line">
                <div class="downDivStyle03">
                    <div class="divStyle03L">
                        <h3 class="SubTitle"><img src="/static/image/right.png">영역별 이수학점(졸업학점) 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁교육과정 경과조치(전학년 졸업기준 학점)</li>
                            <li>⦁학년별 수료학점 안내</li>
                            <li>⦁균형교양(Bridge교양)및자율교양(자유교양) 이수학점</li>
                            <li>⦁계열교양(계열기초,학문기초) 이수학점</li>
                            <li>⦁연계/융합전공 이수방법 안내</li>
                            <li>⦁공학인증학과 다전공 이수기준 안내</li>
                            <li>⦁모집중지 학과 특별전과생 졸업학점 이수 기준</li>            
                        </ul>
                    </div>
                    <div class="divStyle03C">
                        <h3 class="SubTitle"><img src="/static/image/right.png">다전공 및 학적 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁제2전공 및 마이크로디그리 안내</li>
                            <li>⦁복학 안내</li>
                            <li>⦁휴학 안내</li>
                            <li>⦁재입학 안내</li>
                            <li>⦁전과 신청 안내</li>
                            <li>⦁학생경력포탈 개인정보(연락처 및 보호자 정보) 변경 안내(필독)</li>
                        </ul>
                    </div>
                    <div class="divStyle03R">
                        <h3 class="SubTitle"><img src="/static/image/right.png">전자출결 및 특별학점 안내</h3>
                        <ul class="listStyle01">
                            <li>⦁전자출결 시스템 사용 안내</li>
                            <li>⦁출석미달 기준 및 출결처리 안내</li>
                            <li>⦁비교과 마일리지 특별학점 제도 안내</li>
                            <li>⦁군입대 휴학중 취득학점 인정절차 안내</li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/account/principal.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>