<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코리아IT 대학교 수강신청</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <header>
        <div class="lnb wrap">
            <div class="lnb-inner">
                <h1>
                    <a href="/templates/announcement.html"><img src="/static/image/logo.png" alt="코리아IT 대학교 수강신청"></a>
                </h1>
                <span class="school-name"><a href="/templates/announcement.html">코리아IT 대학교 <li>KOREA-IT UNIVERSITY</li></span></a>
                <span class="sugang-date">2023학년도 1학기 수강신청</span>
            </div>
            <div class="user-info">
                <ul>
                    <li class="user"><a href="/templates/mypage.html">김지향<span>19120012</span></a></li>
                    <li>공과대학</li>
                    <li>메카트로닉스공학부</li>
                    <li>4학년</li>
                </ul>
            </div>    
        </div>
        <div class="menulist wrap">
            <li class="on"><a href="/templates/announcement.html">공지사항</a></li>
            <li><a href="">강의시간표</a></li>
            <li><a href="">장바구니</a></li>
            <li><a href="">수강신청</a></li>
            <li><a href="">학점이수현황</a></li>
            <li><a href="">재수강신청</a></li>
            <li><a href="">재수강내역</a></li>
            <li><a href="">강의평가</a></li>
            <li><a href="">매뉴얼</a></li>
            <li><a href="">로그아웃</a></li>
    </div>
    </header>
    
</body>
</html>