<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코리아IT 대학교 수강신청</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/coursepage/course.css">
</head>
<body>
    <header>
        <div class="lnb wrap">
            <div class="lnb-inner">
                <h1>
                    <img src="/static/image/logo.png" alt="코리아IT 대학교 수강신청">
                </h1>
                <span class="school-name">코리아IT 대학교 <li>KOREA-IT UNIVERSITY</li></span>
                <span class="sugang-date">2023학년도 1학기 수강신청</span>
            </div>
            <div class="user-info">
                <ul>
                    <li class="user"><a href="">김지향<span>19120012</span></a></li>
                    <li>공과대학</li>
                    <li>메카트로닉스공학부</li>
                    <li>4학년</li>
                </ul>
            </div>
            
        </div>
        <div class="menulist wrap">
            <li class="on"><a href="/templates/announcement.html">공지사항</a></li>
            <li><a href="">강의시간표</a></li>
            <li><a href="">장바구니</a></li>
            <li><a href="">수강신청</a></li>
            <li><a href="">학점이수현황</a></li>
            <li><a href="">재수강신청</a></li>
            <li><a href="">재수강내역</a></li>
            <li><a href="">강의평가</a></li>
            <li><a href="">매뉴얼</a></li>
            <li><a href="">로그아웃</a></li>
    </div>
    </header>

    <div class="container">
        <div class="table-container">
            <div class="search">
                <span class="search-title">
                    <label for="" class="title-text">과목유형</label>
                    <span class="info">
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">장바구니</label>
                    <span>
                        
                    </span>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">사회문화</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">사회와 세계</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">계열필수</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">과학과 기술</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">도전과 개발</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">사고와 융합</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">실용과 실무</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">인간과 문학</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">공동체</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">실천</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">탐구</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">자유선택</label>
                        <input type="checkbox" class="info-checkbox">
                        <label for="" class="info-text">전공필수</label>
                    </span>
                </span>
                <div style="height: 40px;">
                </div>
            </div>
    
            <div class="title-container">
                <div class="title-item">
                    <h2 class="course-title">장바구니</h2>
                </div>
                
            </div>
            <div class="table">
                <table class="opened-table">
                    <thead>
                        <tr>
                            <th>신청</th>
                            <th>이수구분</th>
                            <th>과목번호</th>
                            <th>과목명</th>
                            <th>학점</th>
                            <th>담당교수</th>
                            <th>강의실(시간)</th>
                            <th>구분</th>
                            <th>원격구분</th>
                            <th>전공상호인정과목</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><button type="submit" class="submit-button1">신청</button></th>
                            <th>공통교양</th>
                            <th>100111-052</th>
                            <th>전공탐색과생애설계 1-1</th>
                            <th>1/1</th>
                            <th>장종욱</th>
                            <th>정보810[화6]</th>
                            <th></th>
                            <th>Y</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-controller">
                <ul class="page-numbers">
                    <a href=""><li>1</li></a>
                    <a href=""><li>2</li></a>
                </ul>
            </div>
            <hr class="border-line">
            <div class="title-item">
                <span class="course-title">수강확정내역</span>
                <button type="button" class="ok-sugang">수강신청확인서</button>
                <span class="course-count">
                    <span class="proposal-text">신청학점 : </span>
                    <span class="proposal-text">학점</span>
                    <span class="proposal-text"> / </span>
                    <span class="proposal-text">신청과목수 : </span>
                    <span class="proposal-text">개</span>
                </span>
            </div>
            <div class="table">
                <table class="confirmed-table">
                    <thead>
                        <tr>
                            <th>삭제</th>
                            <th>이수구분</th>
                            <th>과목번호</th>
                            <th>과목명</th>
                            <th>학점/시간</th>
                            <th>담당교수</th>
                            <th>강의실(시간)</th>
                            <th>폐강여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <hr class="border-line">
            
        </div>
        <div class="schedule-container">
            <div class="fast-register">
                <div class="fast-text">빠른신청</div>
                <span class="fast-text">과목번호-분반</span>
                <span>
                    <input type="search" class="input-first">
                    -
                    <input type="search" class="input-second">
                    <button type="button" class="class-number">신청</button>
                </span>
            </div>
            <div class="grade-container">
                <table class="grade-table">
                    <tr>
                        <td class="grade-text-first">
                            직전학기 신청학점
                        </td>
                        <td>
                            20.25
                        </td>
                    </tr>
                    <tr>
                        <td class="grade-text-first">
                            직전학기 평균학점
                        </td>
                        <td>
                            3.89
                        </td>
                    </tr>
                    <tr>
                        <td class="grade-text-first">
                            총 취득학점
                        </td>
                        <td>
                            115.50
                        </td>
                    </tr>
                    <tr>
                        <td  class="grade-text-first">
                            신청가능학점
                        </td>
                        <td>
                            20.75
                        </td>
                    </tr>
                </table>
            </div>
            <hr class="border-line">
            <div class="">
                
            </div>
            <h2 class="schedule-text">시간표 현황</h2>
            <div class="schedule-box">
                <div class="table">
                    <table class="schedule-table">
                        <thead>
                            <tr>
                                <td class="class-text">
    
                                </td>
                                <td class="day-text">
                                    월
                                </td>
                                <td class="day-text">
                                    화
                                </td>
                                <td class="day-text">
                                    수
                                </td>
                                <td class="day-text">
                                    목
                                </td>
                                <td class="day-text">
                                    금
                                </td>
                                <td class="day-text">
                                    토
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="class-text">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">6</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">7</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">8</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">9</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">10</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">11</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">12</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">13</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">14</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="class-text">15</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="schedule-notification">
                    <p>* 수강대기 2과목 까지만 가능합니다.</p>
                    <p>* 수강대기내역은 수강정정기간까지 유효하며, 
                        <br>
                        수강정정기간 종료 시 삭제됩니다.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/static/js/course.js"></script>   
</body>
</html>