* {
    margin: 0;
    padding: 0;

    list-style-type:none; 
    text-decoration: none;

    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.table-container {
    width: 1050px;
    height: 900px;

    margin-left: 237px;    
}

.title-item {
    padding: 2px;
}

.search {
    position: relative;

    border: 1px solid #e1e1e1;
    padding: 2px 5px;
    margin: 5px 0px 0px 0px;

    min-height: 25px;
    line-height: 25px;
    vertical-align: middle;

    background-color: #ffffff;    
}

.search-title {
    padding: 3px 5px 3px 5px;  
}

.title-text{
    font-size: 15px;
    font-weight: 400;
}

.info-radio {
    margin: 0px 5px;
}

.info-text {
    margin: 0px 13px 0px 0px;
    font-size: 13px;
    cursor: pointer;
}

.subject-code-info {
    font-size: 13px;
    font-weight: 600;
}

.subject-code-select {
    width: 70px;
    padding: 5px;
}

.subject-code-select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #2804f7;
}
* {
    margin: 0;
    padding: 0;

    list-style-type:none; 
    text-decoration: none;

    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.table-container {
    width: 1050px;
    height: 900px;

    margin-left: 250px;
}

.title-item {
    padding: 2px;
}

.search {
    position: relative;

    border: 1px solid #e1e1e1;
    padding: 2px 5px;
    margin: 5px 0px 0px 0px;

    min-height: 25px;
    line-height: 25px;
    vertical-align: middle;

    background-color: #ffffff;
}

.search-title {
    padding: 2px 3px 2px 3px;
}

.title-box {
    margin: 0px;
    padding: 0px;
    width: 50px;
}

.title-text{
    font-size: 14px;
    font-weight: 400;
}

.info {
    flex-direction: row;
}
.info-radio {
    margin: 0px 1px;
}

.info-text {
    margin: 0px 13px 0px 0px;
    font-size: 13px;
    cursor: pointer;
}

.subject-code-info {
    font-size: 13px;
    font-weight: 600;
}

.subject-code-select {
    width: 70px;
    padding: 5px;
}

.subject-code-select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #2804f7;
}

.select-button {
    padding: 5px 10px; 
    font-size: 13px;
    background-color: #2804f7;
    border: 2px solid #2804f7;
    border-radius: 2px;

    color: white;

    cursor: pointer;
}

.select-button:hover {
    background-color: white;
    color: #2804f7;
    border: 2px solid #2804f7;
    
    border-radius: 2px;
    font-weight: 600;
}

.title-container {
    margin-top: 10px;
}

.course-title {
    font-size: 20px;
    font-weight: 600;
}

.table {
    border: 1px solid #dbdbdb;
}

.opened-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 350px;

    border-collapse: collapse;

}

.opened-table th {
    padding: 10px 0px;
    font-size: 15px;

}

.submit-button1{
    padding: 3px 5px;

    border: 1px solid #2804f7;
    background-color: #2804f7;
    border-radius: 4px;

    font-size: 12px;
    font-weight: 600;
    color: #f0f0f0;

    cursor: pointer;
}

.submit-button1:hover {
    background-color: #f0f0f0;
    color: #2804f7;
}

.page-controller {
    display: flex;
    justify-content: center;

    margin: 10px 0px;
}

.page-numbers{
    display: flex;
}

.page-controller a{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
    border: 1px solid #dbdbdb;
    background-color: #f0f0f0;
    width: 40px;
    height: 28px;

    font-weight: 500;
    font-size: 18px;
}

.page-controller a:hover{
    background-color: #345ae0;
    color: white;
}

hr {
    display: block;
    unicode-bidi: isolate;

    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;

    border-style: inset;
    border-width: 1px;
}

.border-line {
    margin: 20px 0px 5px 0px;
    padding: 0;

    border: none;

    border-top: #aaa dotted 1px;
    border-bottom: #fff dotted 1px;
}

.ok-sugang {
    margin: 0px 10px;
    padding: 5px 10px;
    border: 1px solid #2804f7;
    border-radius: 2px;

    color: #2804f7;
    font-weight: 600;

    background-color: #ffffff;

    cursor: pointer;
}

.ok-sugang:hover {
    background-color: #2804f7;
    color: #ffffff;
}

.proposal-text {
    font-size: 15px;
}

.confirmed-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 250px;

    border-collapse: collapse;

    text-align: center;
}

.opened-table td{
    text-align: center;
    font-size: 13px;

    height: 5px;
}

.delete-button{
    padding: 3px 5px;

    border: 1px solid #fa3333;
    background-color: #fa3333;
    border-radius: 4px;

    font-size: 12px;
    font-weight: 600;
    color: #f0f0f0;

    cursor: pointer;
}

.delete-button:hover {
    background-color: #f0f0f0;
    color: #fa3333;
}

.schedule-container {
    margin: 5px 0px 0px 20px;

    width: 360px;
    height: 900px;
    background-color: #ffffff;
}

.fast-register {
    position: relative;

    border: 1px solid #dbdbdb;

    width: 320px;
    height: 70px;
}

.fast-text {
    
    margin: 5px 5px 10px 5px;

    font-size: 15px;
    font-weight: 500;
}

.input-first {
    width: 70px;
    border-radius: 2px;
}

.input-second {
    width: 40px;
    border-radius: 2px;
}

.class-number {
    border: 1px solid #b37b02;
    border-radius: 2px;
    padding: 3px 9px;
    background-color: #b37b02;
    color: #ffffff;

    cursor: pointer;
}

.class-number:hover {
    background-color: #5a3f00;
    color: #ffffff;
}

.grade-container {
    margin-top: 39px;

    width: 320px;
    height: 100px;
}

.grade-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 100px;

    text-align: center;

    border-collapse: collapse;
    
}

.grade-table th {
    padding: 15px 0px;
    font-size: 15px;
}

.grade-text-first {
    font-weight: 600;
}

.schedule-text {
    font-size: 17px;
    font-weight: 600;

    color: #2804f7;
}

.schedule-box {
    width: 320px;
}

.schedule-table {
    border: 1px solid #dbdbdb;
    
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 100px;

    text-align: center;

    border-collapse: collapse; 
}

.class-text {
    width: 30px;
    height: 20px;
}

.day-text {
    height: 25px;
    font-weight: 800;
}

.schedule-notification {
    padding: 10px 0px 0px 0px;
}

.schedule-notification p {
    font-size: 15px;
}
.select-button {
    padding: 5px 10px; 
    font-size: 13px;
    background-color: #2804f7;
    border: 2px solid #2804f7;
    border-radius: 2px;

    color: white;

    cursor: pointer;
}

.select-button:hover {
    background-color: white;
    color: #2804f7;
    border: 2px solid #2804f7;
    
    border-radius: 2px;
    font-weight: 600;
}

.title-container {
    margin-top: 10px;
}

.course-title {
    font-size: 20px;
    font-weight: 600;
}

.table {
    border: 1px solid #dbdbdb;
}

.opened-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 350px;

    border-collapse: collapse;
    
}

.opened-table th {
    padding: 15px 0px;
    font-size: 15px;

}

.page-controller {
    display: flex;
    justify-content: center;

    margin: 10px 0px;
}

.page-numbers{
    display: flex;
}

.page-controller a{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
    border: 1px solid #dbdbdb;
    background-color: #f0f0f0;
    width: 40px;
    height: 28px;

    font-weight: 500;
    font-size: 18px;
}

.page-controller a:hover{
    background-color: #345ae0;
    color: white;
}

hr {
    display: block;
    unicode-bidi: isolate;

    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;

    border-style: inset;
    border-width: 1px;
}

.border-line {
    margin: 20px 0px 5px 0px;
    padding: 0;

    border: none;

    border-top: #aaa dotted 1px;
    border-bottom: #fff dotted 1px;
}

.ok-sugang {
    margin: 0px 10px;
    padding: 5px 10px;
    border: 1px solid #2804f7;
    border-radius: 2px;

    color: #2804f7;
    font-weight: 600;

    background-color: #ffffff;

    cursor: pointer;
}

.ok-sugang:hover {
    background-color: #2804f7;

    color: #ffffff;
}

.proposal-text {
    font-size: 15px;
}

.confirmed-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 250px;

    border-collapse: collapse;
    
    
}

.confirmed-table th {
    padding: 15px 0px;
    font-size: 15px;

}

.schedule-container {
    margin: 5px 0px 0px 20px;

    width: 360px;
    height: 900px;
    background-color: #ffffff;
}

.fast-register {
    position: relative;

    border: 1px solid #dbdbdb;

    width: 320px;
    height: 70px;
}

.fast-text {
    
    margin: 5px 5px 10px 5px;

    font-size: 15px;
    font-weight: 500;
}

.input-first {
    width: 70px;
    border-radius: 2px;
}

.input-second {
    width: 40px;
    border-radius: 2px;
}

.class-number {
    border: 1px solid #b37b02;
    border-radius: 2px;
    padding: 3px 9px;
    background-color: #b37b02;
    color: #ffffff;

    cursor: pointer;
}

.class-number:hover {
    background-color: #5a3f00;
    color: #ffffff;
}

.grade-container {
    margin-top: 39px;

    width: 320px;
    height: 100px;
}

.grade-table {
    border: 1px solid #202020;
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 100px;

    text-align: center;

    border-collapse: collapse;
    
}

.grade-table th {
    padding: 15px 0px;
    font-size: 15px;
}

.grade-text-first {
    font-weight: 600;
}

.schedule-text {
    font-size: 17px;
    font-weight: 600;

    color: #2804f7;
}

.schedule-box {
    width: 320px;
}

.schedule-table {
    border: 1px solid #dbdbdb;
    
    border-top: 2px solid #2804f7;

    width: 100%;
    height: 100px;

    text-align: center;

    border-collapse: collapse; 
}

.class-text {
    width: 30px;
    height: 20px;
}

.day-text {
    height: 25px;
    font-weight: 800;
}

.schedule-notification {
    padding: 10px 0px 0px 0px;
}

.schedule-notification p {
    font-size: 15px;
}