<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/user/register.css">
    <title>교수정보 등록</title>
</head>
<body>
    <aside class="left-aside">
    </aside>    
    <main class="main-container">
        <div class="content-container">
            <div class="title-box">
                <h1 class="content-title">교수정보 등록</h1>
            </div>
            <div class="content-main">
                <div class="content-left">
                    <div class="item-group">
                        <label class="register-label">직번</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">비밀번호</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">이름</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">핸드폰</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">생년월일</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">이메일</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">주소</label>
                        <input type="text" class="register-input">
                    </div>
                    <div class="item-group">
                        <label class="register-label">학과</label>
                        <select class="register-input category-select">
                            
                        </select>
                    </div>
                    <button class="register-button">등록하기</button>
                </div>
                <div class="content-right">
                    <form class="img-form">
                        <input type="file" name="file" class="img-file">
                        <button type="button"class="img-add-button" disabled>+</button>
                        <div class="img-container">
                            <img src="/static/image/profile_noimg.jpg" class="user-img">
                        </div>
                        <div class="button-group">
                            <button type="button" class="img-register-button" disabled>이미지 등록</button>
                            <button type="button" class="img-cancel-button" disabled>취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/aside.js"></script>
    <script src="/static/js/admin/user/profreg.js"></script>
</body>
</html>